@import '/styles/utils/breakpoints';

.nav-item {
  position: relative;
  padding: 1rem;
  border-bottom: 2px solid var(--primary-main);
  border-color: transparent;
  // padding-right: 3rem;
  // background-color: #aaa;

  @include md() {
    padding: 1rem 2rem;
  }

  &:hover {
    border-color: var(--primary-main);
    transition: 0.2s;
    .sub-nav-list--wrapper {
      display: block;
    }
  }

  .sub-nav-list--wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
    display: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px #aaa;
  }
}
